<div class="container">
  <form [formGroup]="salleFormGroup" *ngIf="salleFormGroup">
    <div class = "form-group">
      <label>IDSALLE</label>
      <input type ="text" class="form-control" formControlName="idsalle" readonly>
    </div>
    <div class = "form-group">
      <label>Sigle</label>
      <input type ="text" class="form-control" formControlName="sigle"
             [ngClass]="{'is-invalid': submitted && salleFormGroup.controls.sigle.errors}">
      <div *ngIf="submitted && salleFormGroup.controls.sigle.errors" class="invalid-feedback">
        <div *ngIf="salleFormGroup.controls.sigle.errors.required">
          Sigle obligatoire
        </div>
      </div>
    </div>
    <div class = "form-group">
      <label>Capacité</label>
      <input type ="number" class="form-control" formControlName="capacite"
             [ngClass]="{'is-invalid': submitted && salleFormGroup.controls.capacite.errors}">
      <div *ngIf="submitted && salleFormGroup.controls.capacite.errors" class ="invalid-feedback">
        <div *ngIf="salleFormGroup.controls.capacite.errors.required">
          Capacité obligatoire
        </div>
      </div>
    </div>
    <button (click)="onUpdateSalle()" class="btn btn-success">
      Save
    </button>
    <button (click)="onShowCouSalle()" class="btn btn-success">
      Cours
    </button>
  </form>
</div>
<ng-container *ngIf="cours" >
  <ng-container *ngIf="cours.length>0 else vide">
    <table class="table">
      <thead>
      <th>Idcours</th>
      <th>Code</th>
      <th>Intitule</th>
      </thead>
      <tbody>
      <tr *ngFor="let cou of cours">
        <td>{{cou.idcours}}</td>
        <td>{{cou.code}}</td>
        <td>{{cou.intitule}}</td>
      </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #vide>
    Aucun cours pour cette salle
  </ng-template>
</ng-container>
<app-newcours [salact]="salleFormGroup"(newCours)="addCours($event)"></app-newcours>
